body {
  height: 100vh;
  margin: 0;
  display: flex;
  background: conic-gradient(from 0deg at 50% 50%,
      #E6F6FA 0deg,
      #E6F6FA 60deg,
      #E6F6FA 90deg,
      #B0C4FF 230deg,
      #B0C4FF 290deg,
      #E6F6FA 360deg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Noto Sans JP", Arial, "Roboto", sans-serif;
}

.fade {
  opacity: 0;
  transition: opacity 1.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fade.fade-in {
  opacity: 1;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

li:hover {
  transform: translateY(-2px) scale(1.06);
}


a {
  text-decoration: none;
}

.favicon {
  width: 40px;
  height: 40px;
  background-color: #576bf5;
  border-radius: 50%;
  border: none;
}

button {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #ccc;
}

button:hover {
  transform: translateY(-2px) scale(1.06);
  /* background-color: #61C6DF; */
  color: #FFF;
}

button svg:hover {
  fill: #fff;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #aaa;
}

/* add_buttonの挙動 */
.bn13 {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 5s infinite linear;
  position: relative;
}

.bn13:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }

  40% {
    top: 0em;
  }

  43% {
    top: -0.9em;
  }

  46% {
    top: 0em;
  }

  48% {
    top: -0.4em;
  }

  50% {
    top: 0em;
  }

  100% {
    top: 0em;
  }
}

.play {
  width: 80%;
  margin: 20px auto 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  border-radius: 20px;
  letter-spacing: 2px;
  align-items: center;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.play p {
  font-size: 0.8rem;
}

table {
  font-family: "Noto Sans JP", Arial, "Roboto", sans-serif;
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}


/* チェックリスト追加ボタン------------------------------------ */
.add_button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #61C6DF;
  opacity: 0.7;
  border-radius: 20px;
  cursor: pointer;
}

.add_button button:hover::before {
  animation: shine 0.8s forwards;
}


.add_button button:hover {
  background-color: #61C6DF;
  opacity: 1;
}

.add_button button a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 96%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0;
}

.note {
  font-size: 12px;
  letter-spacing: 1px;
}

.register {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSlideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.mobile-only,
.mobile-only-row {
  display: none;
}

.validate {
  display: flex;
  gap: 20px;
  margin-top: 7px;
  background-color: #E7E9FE;
  padding: 5px 50px;
  border-radius: 40px;
  color: #586BFF;
  letter-spacing: 2px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.validate p {
  margin: 0;
  font-size: 12px;
}

.validate-wrapper {
  display: block;
  transform: translateY(-10px);
  animation: fadeSlideIn 1s ease forwards;
}

.error {
  color: #ff0000;
}

input {
  text-align: right;
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

.checklist_input,
.forminput,
.maker-input {
  text-align: left;
}

.input-error {
  border: 2px solid #f44336;
  box-shadow: 0 0 5px rgba(244, 67, 54, 0.6);
}

.error-space {
  padding: 2px 0;
  height: 15px;
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.toggle-row {
  background-color: #93D8E8;

}


.toggle:hover,
.toggle button svg:hover {
  color: #fff;
  border-radius: 10px;
  padding: 3px 10px;
  box-shadow: none;
}

.toggleTr1,
.toggleTr2,
.toggleTr3,
.toggleTr4,
.toggleTr5 {
  background-color: #E7E9FE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  color: #8C8C8C;
  text-align: end;
}

.phase-toggle {
  font-weight: bold;
  font-size: 20px;
  margin-left: 50px;
}

.toggle-row td {
  color: #8C8C8C;
}



/* 登録ページ共通------------------------------------ */
.auth-section {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.detail {
  width: 45%;
  gap: 100px;
}

.auth-header {
  width: 80%;
  gap: 100px;
  margin-top: 40px;
}

.auth-contant {
  width: 55%;
  align-items: center;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: auto;
}

.auth-form {
  margin-top: 60px;
}

.appname {
  display: flex;
}

.app-title {
  font-size: 3.3rem;
  font-weight: lighter;
}


.auth-nav {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.auth-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 1.3rem 6px;
}

.auth-nav li {
  display: block;
  align-items: center;
  width: 90%;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  padding: 0 10px;
}

.auth-nav li a {
  color: #000;
  font-weight: 300;
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.subname {
  font-weight: 300;
  margin-top: 10px;
  font-size: 15px;
}

.auth-nav svg {
  flex-shrink: 0;
  display: block;
  line-height: 60px;
  text-align: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-nav .icon {
  background-color: #65AEFD;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.auth-nav li a .title {
  height: 60px;
  line-height: 60px;
  margin-left: 40px;
  transition: opacity 1s ease;

}

.auth-nav li:hover {
  transition: width 1s ease;
}

.button-form {
  display: flex;
  width: 90%;
  margin-top: 20px;
  gap: 20px;
}

.button-form .setup-button {
  flex: 1;
  text-align: center;
}

.btn-hidden,
.hidden,
.footer {
  visibility: hidden;
}

.forminput,
.phase {
  transition: 300ms ease-in-out;
}

.phase:hover {
  transform: scale(1.05);
}

.forminput:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}


/* main contant ------------------------------------ */
.contant {
  align-items: center;
  width: 93%;
  height: 93%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: auto;
}

.section {
  width: 98%;
  display: flex;
}

/* ナビゲーションバー ------------------------------------ */

.nav {
  height: 100vh;
  width: 100px;
  align-items: flex-start;
  position: relative;
  /* margin: auto; */
  transition: width 0.6s ease;
}

.maker-back {
  margin: 0 auto;
}

.help-back {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

.maker-back nav {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 30px auto;
  transition: width 0.6s ease;
}

.maker-back nav:hover {
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.maker-back nav:active {
  transform: translateY(2px);
}

.maker-back nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.maker-back nav ul li {
  height: 100%;
}

.maker-back nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  position: relative;
}


.navigate,
.main-nav {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 90px;
  overflow: hidden;
  margin: 30px auto;
  transition: width 0.6s ease;
}

.loginuser-nav {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 90px;
  overflow: hidden;
  margin: 30px auto;
  transition: width 0.6s ease;
}


.navigate nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 1.3rem 10px;
  margin: auto;
}

.loginuser-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 1.1rem;
  margin: auto;
  background-color: #576bf5;
  opacity: 0.6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 1.3rem 6px;
}

.navigate li,
.main-nav li {
  display: block;
  align-items: center;
  width: 90%;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  padding: 0 10px;
}

.loginuser-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate li a,
.main-nav li a,
.auth-nav a {
  color: #8C8C8C;
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}

.loginuser-nav svg {
  display: block;
  margin: 0 auto;
}

.main-nav li a {
  justify-content: flex-start;
}

.navigate li a svg {
  flex-shrink: 0;
  display: block;
  line-height: 60px;
  text-align: center;
}

.navigate li a .title,
.main-nav li a .title {
  height: 60px;
  line-height: 60px;
  opacity: 0;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.nav:hover li a .title {
  opacity: 1;
}

@media (hover: hover) and (pointer: fine) {

  .nav:hover {
    width: 270px;
  }

  .nav:hover .navigate {
    width: 200px;
    transition: width 0.6s ease;
    margin: 50px auto 0 auto;
  }


  .nav:hover .main-nav {
    width: 200px;
    transition: width 0.6s ease;
    margin: 50px auto 0 auto;

  }
}

.navigate li:hover {
  background-color: #576bf5;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.navigate li:active {
  transform: translateY(2px);
}

.main-nav li:active {
  transform: translateY(2px);
}


.navigate li:hover a svg {
  fill: #fff;
}

.navigate li:hover a {
  color: #fff;
}

.main-nav .icon {
  background-color: #E7E9FE;
  opacity: 1;
  padding: 10px;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.main-nav li:hover .icon {
  background-color: #FFA83F;
  opacity: 0.3;
}

.logout-button {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-button .icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button .title {
  height: 60px;
  line-height: 60px;
  opacity: 0;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.nav:hover li .logout-button .title {
  opacity: 1;
  color: #8C8C8C;
}

.navigate li:hover .logout-button .title {
  color: #fff;
}


li:hover .logout-button .title {
  height: 60px;
  line-height: 60px;
  opacity: 1;
  margin-left: 10px;
  transition: opacity 0.3s ease;

}

li:hover .logout-button svg {
  fill: #fff;
}


.icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

button.logout-button:hover {
  background: none;
}


.icon.active {
  background-color: #FFA83F;
  opacity: 1;
}

.navigate li.active {
  background-color: #576bf5;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.navigate li.active a svg {
  fill: #fff;
}

.navigate li.active a {
  color: #fff;
}


/* setting ------------------------------------ */
.reset-form {
  width: 40%;
}

.resetform-contant {
  display: flex;
  width: 98%;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 40px auto;
}

.resetform-contant input {
  padding: 20px 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: none;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5rem;
}

.resetform-contant label {
  color: #8C8C8C;
  text-align: start;
  padding-left: 10px;
}

.resetform-contant input:focus {
  outline: none;
  border: 1px solid #E7E9FE;
  box-shadow: 0 0 5px rgba(87, 107, 245, 0.5);
}

.reset-form button {
  width: 100%;
  margin-top: 100px;
  height: 90px;
}

.setup-form {
  width: 90%;
}

.setup-form button {
  width: 100%;

}

.setup-button {
  display: inline-flex;
  white-space: nowrap;
  background-color: #E7E9FE;
  border-radius: 40px;
  padding: 15px 40px;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #ccc;
}

.setup-button:hover {
  transform: translateY(-2px) scale(1.06);
  background-color: #61C6DF;
  color: #FFF;
}

.setup-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #aaa;
}

.update-table {
  width: 40%;
  border-collapse: separate;
  margin: 30px auto;
}

.update-table,
.update-table.wrapper,
.update-table td,
.update-table th,
.update-table tbody tr {
  background-color: transparent;
  box-shadow: none;
  font-weight: normal;
  font-size: 0.8rem;

}

.update-table th {
  border-bottom: #8C8C8C 1px solid;

}

/* 各フェーズの目次 ------------------------------------ */

.list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #ddd;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}


.list-header .list-nav .auth-header .list-nav {
  display: flex;
  align-items: center;
}

.list-nav {
  display: flex;
  align-items: center;
}

/* チェックリストのテーブル-------------------------------------------------- */
.table-wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 800px;
  border-radius: 20px;
  overflow-y: auto;
}

.table-contant {
  width: 100%;
}

.list table {
  width: 97%;
  border-collapse: separate;
  border-spacing: 0 6px;
  max-height: 500px;
  margin: 0 auto;
}

tbody {
  border-radius: 10px;
  margin-bottom: 20px;
}

tbody tr {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 5px;
  background-color: #fff;
}

/* rgba(230, 246, 250, 0.7) */

.checklist tbody td:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.checklist tbody td:nth-child(5) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.landsimulation {
  border-collapse: separate;
  font-family: inherit;
}

.landsimulation tr td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.landsimulation tr td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.landsimulation tr {
  border-radius: 20px;
  overflow: hidden;
}

/* welcomページ---------------- */
.body-light {
  width: 100%;
}

.welcome {
  margin-top: 50px;
  width: 90%;
}

.welcome .icon svg {
  width: 90px;
  height: 90px;

}

.welcome .app-title {
  font-size: 3.5rem;
}

.illust img {
  width: 300px;
  height: auto;
}

.lead-text {
  width: 70%;
  margin-top: 30px;
  background-color: #61C6DF;
  color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 20px;
}

.lead-text h1 {
  font-size: 2.3rem;
  white-space: nowrap;
}

.lead-text p {
  font-size: 1.5rem;
  margin: 0;
}

.worry-content {
  width: 85%;
  margin-top: 30px;
}

.worry-list li {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}


.worry-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 12.6rem;
  gap: 5px;
  padding: 0;
}

.worry-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5em;
  max-width: 8em;
  border-radius: 50%;
  border: 3px #fff solid;
  padding: 20px;
  aspect-ratio: 1 / 1;
}

.worry-bubble:nth-child(1) {
  align-self: start;
  justify-self: end;
}

.worry-bubble:nth-child(2) {
  align-self: end;
  justify-self: center;
}

.worry-bubble:nth-child(3) {
  align-self: start;
  justify-self: start;
}

.worry-bubble:nth-child(4) {
  align-self: start;
  justify-self: end;
}

.worry-bubble:nth-child(5) {
  align-self: start;
  justify-self: end;
}

.worry-p {
  border-radius: 50%;
  font-weight: 300;
  margin: 10px;
}

.app-intro {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(147, 216, 232, 0.2);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.article-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  padding: 30px;
  margin: 30px auto;
}

.articcle-contant {
  align-items: center;
  /* width: 93%;
  height: 93%; */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  margin: auto;
}


.footer {
  margin-top: 60px;

}

.article-point {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 50%;
  background-color: #93D8E8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  min-width: 3em;
  max-width: 8em;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-title strong {
  font-size: 1.5rem;
}

.article-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}


.intro-box {
  width: 45%;
  padding: 50px 30px 0 30px;

}

.intro-box h3 {
  color: #3FAEC8;
  font-weight: 400;
  text-align: start;
}

.intro-box p,
.sub-text {
  text-align: left;
  padding: 0 20px;
}

.intro-content {
  width: 55%;
  display: flex;
  align-items: flex-end;
}

.welcome-setup {
  padding-bottom: 50px;
}

.welcome-setup .register a {
  display: inline-block;
  text-align: center;
}


.welcome-setup .register {
  margin: 20px auto;
}

.welcome-setup .register button {
  padding: 20px 15rem;
}

.screen img {
  width: 100%;
  height: auto;
  display: block;

}

.phone {
  position: relative;
  margin: 10px 0 0 20px;
  width: 200px;
  padding: 6px;
  background: #000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.screen {
  background: #fff;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.caption {
  position: absolute;
  border-radius: 40px;
  width: 50%;
  bottom: 0;
  right: 0;
}

.point-cap1 {
  top: 100px;
  left: 400px;
}

.point-cap2 {
  top: 10.2rem;
  left: 21.0rem;
}

.point-cap4 {
  top: 170px;
  left: 470px;
  width: 35%;
}

.is-img4 {
  width: 120%;
  margin-top: 40px;
}

.is-glow p {
  font-size: 0.85rem;

}

.is-glow img {
  width: 87%;
  border-radius: 40px;
  border: #3FAEC8 2px solid;
}

.is-point1 {
  position: relative;
  width: 38%;
  text-align: left;
  background-color: #EEF8FB;
  top: 8px;
  left: 200px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

.is-point2 {
  width: 70%;
  display: block;
  margin-left: auto;
  text-align: left;
  background-color: #EEF8FB;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

.is-point4 {
  width: 50%;
  display: block;
  margin-left: auto;
  text-align: left;
  background-color: #EEF8FB;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);

}

.point3 {
  width: 40%;
}


/* phase1-------------------- */
.checklist th,
.checklist td {
  text-align: center;
  padding: 10px;
}

.checklist th:nth-child(1),
.checklist td:nth-child(1) {
  width: 10%;
}

.checklist th:nth-child(2),
.checklist td:nth-child(2) {
  width: 10%;
  text-align: left;
}

.checklist th:nth-child(3),
.checklist td:nth-child(3) {
  width: 60%;
  text-align: left;
  align-items: center;
}

.checklist th:nth-child(4),
.checklist td:nth-child(4) {
  width: 10%;
}

.checklist th:nth-child(5),
.checklist td:nth-child(5) {
  width: 10%;
}

.list tbody tr {
  transition: transform 0.1s ease-in-out;
}

.checklist_input {
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  width: 90%;
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Noto Sans JP ';
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}


.checklist_input:focus {
  outline: none;
  border: 2px solid #61C6DF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:disabled {
  border: none;
  background: transparent;
}

input:checked+.slider {
  background-color: #586BFF;
}

input:checked+.slider:before {
  transform: translateX(24px);
}

tr.checked {
  background-color: #8C8C8C;
  opacity: 0.3;
}

tr.checked svg {
  fill: #000;
}

.list-nav .icon {
  padding: 13px 15px;
  background-color: #8C8C8C;
  border-radius: 50%;
  opacity: 0.18;
}

.phase1-nav {
  gap: 30px;
}

/* phase2------------------------------ */
.land2_add button {
  background-color: #576bf5;
  opacity: 0.7;
}

.land2_add button:hover {
  background-color: #576bf5;
  opacity: 1;
}

.marker-list {
  display: flex;
  margin: 20px auto;
  gap: 100px;
  width: 90%;
  align-items: flex-start;
}



.update {
  font-size: 12px;
  margin: 10px 0;
}

.cards {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  width: 700px;
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.05),
    4px -4px 8px rgba(0, 0, 0, 0.05),
    -4px 4px 8px rgba(0, 0, 0, 0.05),
    20px 20px 1px -5px rgba(176, 196, 255, 0.5);
}

.cards:hover {
  transform: translateY(-10px);
  transition: 1s ease;

}

.card-main {
  width: 80%;
  margin: auto;
  padding: 20px 20px;
}

.card-right {
  width: 15%;
  background: linear-gradient(to bottom, rgba(88, 107, 255, 0.6), rgba(88, 107, 255, 0.8));
  border-radius: 0px 15px 15px 0px;
  display: flex;
  flex-direction: column;

}

.card-right nav {
  display: flex;
  flex-direction: column;

}

.card-right nav ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  margin-top: 30px;

}

.marker-listnav {
  border-bottom: 1px solid #ddd;
}

.marker-listnav-contant {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.marker-liststar {
  padding-top: 10px;
}

.maker-delete,
.maker-edit {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  box-shadow: none;
}

.maker-delete svg,
.maker-edit svg {
  padding: 8px;
}

.maker-delete:active,
.maker-edit:active {
  transform: translateY(2px);
}

.choice {
  background-color: #61C6DF;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.choice:hover {
  transform: none !important;
  box-shadow: none !important;
}

.visible {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 90%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(12px, 2vw, 16px);
}

.visible-contain {
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
}

.visible-groupe p {
  margin-bottom: 8px;
}

.textarea-input {
  background-color: #E7E9FE;
  opacity: 0.6;
  border-radius: 13px;
  padding: 8px 10px;
  width: 85%;
  margin: auto;
}

.add button {
  background-color: rgba(87, 107, 245, 0.74);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 15px 25px;
  border: none;
  color: #fff;
  margin-left: 500px;
}

.add button:hover {
  background-color: #586BFF;
  transform: translateY(-2px) scale(1.06);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


/* edit--------------------- */
.register button {
  background-color: rgba(87, 107, 245, 0.74);
  border-radius: 40px;
  padding: 20px 50px;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}

.register button:hover {
  background-color: #586BFF;
  transform: translateY(-2px) scale(1.06);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.register button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #aaa;
}

.star-rating {
  margin-right: 30px;
}

.star-rating svg:hover {
  transform: translateY(-2px) scale(1.06);
}

.star-rating svg:active {
  transform: translateY(2px);
}


.star-rating .active {
  color: gold;
}

.star-check {
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

.marker-form {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  color: #8C8C8C;
}

.maker-left {
  width: 40%;
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
}

.maker-right {
  width: 60%;
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
}

.loanform-contant {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.makerform-contant {
  display: flex;
  width: 98%;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.form-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tag-btn input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-btn {
  display: inline-block;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 0 #ccc;
  padding: 5px 10px;
}

.checkbox-btn:hover {
  transform: translateY(-2px) scale(1.06);
  background-color: #61C6DF;
  color: #FFF;
}

.checkbox-btn:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 0 #aaa;
}


.tag-btn:hover,
.tag-btn:checked {
  transform: translateY(-2px) scale(1.05);
  background-color: #61C6DF;
  color: #fff;
  cursor: pointer;
}


.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
}

.loanform-contant input,
.loanform-contant textarea,
.landform-contant input,
.landform-contant textarea {
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  width: 100%;
  justify-content: flex-start;
}

.makerform-contant input,
.makerform-contant textarea {
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  width: 70%;
  margin: auto;
}

.makerform-contant textarea {
  width: 100%;

}

.loanform-contant input:focus,
.loanform-contant textarea:focus,
.makerform-contant input:focus,
.makerform-contant textarea:focus {
  outline: none;
  border: 1px solid #E7E9FE;
  box-shadow: 0 0 5px rgba(87, 107, 245, 0.5);
}

.loanform-contant textarea,
.makerform-contant textarea {
  height: 120px;
}



.form-button input,
.star-check input {
  display: none;
}

.form-button label {
  padding: 9px 40px;
  border: none;
  border-radius: 20px;
  background-color: #D9F5FD;
  color: #61C6DF;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 8px;
  border: 1px solid rgba(176, 196, 255, 0.3);
}

.loanform-contant label {
  font-size: 1.2rem;
  white-space: nowrap;
}

.loanform-contant input {
  width: 700px
}

.checkbox-btn:hover {
  transform: translateY(-2px) scale(1.05);
  background-color: #61C6DF;
  color: #fff;
  cursor: pointer;
}

.checkbox-btn.active {
  background-color: #61C6DF;
  color: #fff;
}

/* phase3------------------- */

.loan-form {
  display: flex;
  color: #8C8C8C;
}

.loan-left {
  width: 50%;
}

.loan-right {
  width: 50%;
}

.loan-card {
  background-color: rgba(231, 233, 254, 0.3);
  border-radius: 20px;
  padding: 50px 10px;
  width: 90%;
}

.left-fix {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 90%;
}

.loanform-contant input {
  width: 40%;
}



.form-row {
  align-items: center;
}

.form-row input {
  font-size: 20px;
  border-radius: 50px;
  width: 7.3ch;
  margin: 0;

}

.valiableform-row {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.valiableform-row span {
  font-size: 25px;
  line-height: 1.8;
  color: #000000;
  text-align: center;
}

.form-valiable.highlight {
  outline: none;
  border: 1px solid #E7E9FE;
  box-shadow: 0 0 5px rgba(87, 107, 245, 0.5);
  background-color: #576bf5;
  color: #fff;

}

.loan-span {
  font-size: 13px;
}

span {
  margin: 0 10px;
}

.chart-wrapper {
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
  text-align: center;
}

.calculate {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: end;
  margin-top: 30px;
}


.calculate button {
  background-color: rgba(87, 107, 245, 0.74);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 20px 85px;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
}

.calculate button:hover {
  background-color: #586BFF;
  box-shadow: none;
  cursor: pointer;
}

.loan-register button {
  background-color: rgba(87, 107, 245, 0.54);
  border-radius: 40px;
  padding: 20px 80px;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.loan-register button:hover {
  background-color: rgba(87, 107, 245, 0.94);
}

/* phase4------------------- */

.land-form {
  color: #8C8C8C;
  display: flex;
}

.land-form form {
  display: flex;
}

.land-left {
  width: 40%;
  margin: 20px auto;
}

.land-card {
  width: 80%;
  margin: auto;
  background-color: rgba(231, 233, 254, 0.3);
  border-radius: 20px;
  padding: 50px 30px;
}

.land-card-success,
.loan-card-success {
  width: 80%;
  margin: auto;
  background-color: rgba(231, 233, 254, 1.0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 50px 30px;
}


.land-right {
  width: 60%;
  margin: 0 auto;
}

.land-left textarea {
  width: 300px;
  height: 60px;
  font-size: 1.2rem;
}

.land-left-fix {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  width: 100%;

}

.land-calculate button {
  background-color: rgba(87, 107, 245, 0.74);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  padding: 1.25rem 3.0rem;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  white-space: nowrap;
}

.landform-contant {
  margin-top: 13px;
}

.landform-contant input {
  border-radius: 50px;
  width: 60%;
}

.land-form-row {
  display: flex;
  align-items: center;
  margin-top: 13px;
  text-align: center;
  justify-content: center;
}

.range {
  width: 380px;
  height: 10px;
  accent-color: #576bf5;
  border-radius: 5px;
  outline: none;
}

.form-valiable {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 12px 30px;
  background-color: #fff;
  align-items: center;
}


.long-p {
  display: inline-block;
  width: 100%;
  white-space: normal;
  font-size: 13px;
  margin-right: 8px;
  text-align: right;
}


input.landinput {
  text-align: right;
  margin: 0;
  font-size: 16px;
  padding: 18px 15px;

}

input.landinput:focus,
textarea:focus {
  outline: none;
  border: 1px solid #E7E9FE;
  box-shadow: 0 0 5px rgba(87, 107, 245, 0.5);
}

.landinput::placeholder {
  color: #8C8C8C;
  opacity: 0.6;
}

.land-right-valiable {
  display: flex;
  flex-direction: column;
}

.land-list {
  width: 95%;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#landtable {
  background-color: #fff;
  max-height: 35vh;
  overflow-y: auto;
}

.land-list th,
.land-list td {
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}

.land-table th:nth-child(1),
.land-table td:nth-child(1) {
  width: 10%;
}

.land-table th:nth-child(2),
.land-table td:nth-child(2) {
  width: 30%;
  text-align: left;
}

.land-table th:nth-child(3),
.land-table td:nth-child(3) {
  width: 10%;
}

.land-table th:nth-child(4),
.land-table td:nth-child(4) {
  width: 15%;
}

.land-table th:nth-child(5),
.land-table td:nth-child(5) {
  width: 15%;
}

.land-table th:nth-child(6),
.land-table td:nth-child(6) {
  width: 10%;
}

.land-table th:nth-child(7),
.land-table td:nth-child(7) {
  width: 10%;
}

/* phase4のテーブル */

.landtable-contant {
  width: 100%;
  margin: auto;
}

.land-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

#volume {
  width: 80%;
}

.card-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-inner-center {
  display: flex;
  justify-content: center;
}

.card-inner label {
  text-align: start;
}

.pagination {
  position: static;
  bottom: auto;
  left: auto;
  transform: none;
  margin: 30px auto;
  width: 80%;
}


.pagination-gap {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.pagination-nav {
  background-color: #576bf5;
  padding: 10px 50px;
  color: #fff;
  border-radius: 20px;
}

.pagination-nav:hover {
  transform: translateY(-2px) scale(1.06);
  transition: 0.5s ease;
}

.pagination-next {
  background-color: #E7E9FE;
  padding: 10px 50px;
  color: #8C8C8C;
  border-radius: 20px;
}

.paginate-wrapper {
  display: flex;
}

.no-validate {
  display: none;
}

.edit-row,
.land-delete-btn,
.edit-list,
.delete-list,
.backEdit {
  border: none;
  border-radius: 50%;
  margin: auto;
}

.back button {
  background-color: #576bf5;
}

.back button:hover {
  background-color: #576bf5;
}

.updated_at {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.register-list,
.update-list {
  background-color: #61C6DF;
  border: none;
  border-radius: 100%;
}

.edit-row:hover,
.land-delete-btn:hover {
  cursor: pointer;
}

.my-carousel-progress {
  background: #ccc;
}

.my-carousel-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}


/* レスポンシブ対応------------------------------------------- */

@media (min-width: 1100px) and (max-width: 1500px) {


  .point-cap1 {
    top: 100px;
    left: 230px;
  }

  .point-cap4 {
    top: 170px;
    left: 240px;
    width: 35%;
  }

  body {
    height: auto;
  }

}



@media (max-width: 1100px) {
  .wrapper {
    width: 98%;
  }

  body {
    height: auto;
  }

  span {
    white-space: nowrap;
  }

  .auth-section {
    width: 90%;
  }

  .detail,
  .auth-contant {
    width: 100%;
  }

  .detail {
    width: 50%;
  }

  .auth-contant {
    width: 50%;
  }

  .list-nav {
    width: 90%;
    margin: auto;
  }

  .app-title {
    font-size: 3.2rem;
  }

  .appname .icon svg {
    width: 80px;
    height: 80px;
    display: block;
    margin-top: auto;
  }

  .auth-nav li a .title {
    margin-left: 10px;
  }

  .auth-header {
    margin-top: 40px;
  }

  .resetform-contant {
    width: 90%;
    padding: 20px 10px;
    margin: 0 auto;
  }

  .reset-form button {
    margin: 30px 0;
  }

  .setup-form {
    width: 90%;
  }


  .nav,
  .maker-back {
    margin: 0 10px;
  }

  .section {
    width: 98%;
  }

  .loginuser-nav,
  .main-nav,
  .navigate {
    width: 80%;
  }

  .marker-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .cards {
    width: 80%;
  }


  .maker-delete,
  .maker-edit {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    box-shadow: none;
  }


  .maker-delete svg,
  .maker-edit svg {
    padding: 3px;
    fill: #fff;
  }

  .card-right {
    opacity: 1;
  }

  .marker-form {
    display: flex;
    flex-direction: column;
  }

  .maker-left,
  .maker-right {
    width: 90%;
  }

  .end-contant {
    display: flex;
    flex-direction: column;
    ;
  }

  .star-rating {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: auto;
  }

  .star-check {
    width: 50px;
  }

  .star-check svg {
    width: 80%;
  }

  .register {
    margin: 20px 0;
    width: 100% !important;
    justify-items: center;

  }

  .register button {
    display: block;
    width: 80%;
  }

  .pagination {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
    margin: 30px auto;
    width: 80%;
  }

  .pagination-gap {
    justify-content: center;
  }

  .main-nav .icon {
    padding: 10px 12px;

  }

  .list-header {
    margin: 0 auto;
    gap: 0px;
  }

  .nav-item .title,
  .logout-button .title {
    display: none !important;
  }

  .article-contant {
    margin-top: 40px;
  }

  .list-header {
    display: flex;
    flex-direction: column;
  }

  .list-nav {
    justify-content: center;
  }

  .land2_add,
  .add_button {
    width: 80%;
  }

  .add_button button {
    margin: auto;
    width: 100%;
    border-radius: 30px;
  }

  .visible {
    width: 100%;
  }

  .choice {
    padding: 4px 20px;
  }

  .validate-wrapper {
    margin: 20px 0;
  }

  .marker-liststar svg {
    width: 30px;
  }


  /* checklist------------------------ */
  .table-wrapper {
    height: auto;
  }

  /* phase3------------------------ */
  .chart-wrapper {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  #loan-chart {
    margin-top: 40px;
  }

  .apexcharts-inner {
    width: 100%;
  }

  .loan-form {
    display: flex;
    flex-direction: column;
  }

  .loan-left,
  .land-left,
  .loan-right,
  .land-right {
    width: 90%;
  }

  .chart-wrapper {
    justify-content: center;
    margin: 0;
  }

  .landform-contant {
    width: 70%;
    display: flex;
    flex-direction: row;
  }

  .loan-card {
    margin-top: 30px;
  }

  .land-card,
  .land-card-success {
    width: 98%;
    padding: 10px;
  }

  /*phase4---------------------------*/
  .land-right {
    margin: 0;
  }

  .land-card {
    width: 98%;
    margin: 0 auto;
    justify-content: center;
  }

  #range {
    width: 50%;
  }

  .landform-contant label {
    font-size: 13px;
    display: flex;
    align-items: center;
    margin: auto;
  }

  .landform-contant input {
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    align-items: center;
    margin: 0;
  }

  .landform-contant textarea {
    margin: auto;
    width: 98%;
  }

  .landform-contant {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;

  }

  .error-space {
    text-align: center;
    font-size: small;
    flex-basis: 100%;
  }

  .landtable-contant {
    width: 100%;
  }


  .validate {
    font-size: small;
    padding: 3px 30px;
  }

  /* welcomeページ--------------- */
  .lead-text {
    width: 90%;
  }

  .article-group {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    gap: 60px;
    padding: 60px 0 0 0;
    margin: 0 auto;
  }

  .article-title {
    padding: 8px;
  }

  .intro-content {
    display: flex;
    justify-content: center;
  }

  .lead-text h1 {
    font-size: 2.0rem;
    white-space: nowrap;
  }

  .is-glow img {
    width: 70%;

  }

  .intro-box h3 {
    font-size: 1.3rem;
  }

  .point-cap1 {
    top: 100px;
    left: 270px;
  }

  .point-cap2 {
    top: 9.2rem;
    left: 18.0rem;
  }

  .point-cap4 {
    top: 170px;
    left: 350px;
    width: 35%;
  }

  .welcome-setup .register button {
    width: 100%;
    margin: 0 auto;
  }

  .is-img4 {
    width: 150%;
    margin-top: 40px;
    display: flex;
    justify-content: start;
  }

  .is-point1 {
    left: 100px;
  }

}


/* スマホサイズ向け---------------------- */
@media (hover: none) {
  .nav:hover {
    width: auto;
  }

  .nav:hover .navigate,
  .nav:hover .main-nav {
    width: auto;
    margin: 0;
    transition: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
    opacity: 0.9;
    scroll-behavior: smooth;
  }

  body {
    height: auto;
  }

  .contant {
    height: auto;
  }

  h1,
  h3 {
    font-size: 32px;
  }

  h3 {
    margin-left: 20px
  }

  .list-nav h3 {
    font-size: 1.5rem;
    margin-left: 5px;
  }

  span {
    white-space: nowrap;
  }

  .mobile-only {
    display: block;
  }

  .mobile-only-row {
    display: table-row;
  }

  tspan {
    font-size: 0.5rem;

  }

  .pc-only {
    display: none;
  }


  /* welcom---------------- */
  .worry-content {
    width: 90%;
  }

  .worry-bubble {
    min-width: 1.2em;
    max-width: 8em;
    padding: 10px;
  }

  .worry-p {
    font-size: 0.8rem;
  }

  .illust img {
    width: 100%;
    height: auto;

  }

  .lead-text {
    width: 85%;
    margin-top: 0px;
  }

  .lead-text h1,
  .lead-text p {
    white-space: nowrap;
    width: 100%;
    font-size: 1.1rem;
  }

  .app-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .intro-box,
  .intro-content {
    width: 85%;
  }

  .phone {
    width: 80%;
  }

  .articcle-contant {
    margin-top: 30px;
    width: 95%;

  }

  .app-intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome-setup .register button {
    padding: 20px 70px;
  }

  .is-glow img {
    width: 170%;
  }

  .point-cap1 {
    top: 400px;
    left: 30px;
  }

  .is-point1 {
    left: 0;
    width: 60%;
  }

  .point-cap4 {
    top: 500px;
    left: 30px;
  }

  .is-point4 {
    width: 100%;

  }

  .is-img4 {
    width: 60%;
  }

  /*  ログイン前ページ---------------------------- */
  .main-nav ul {
    width: 100%;
    gap: 40px;
  }

  .auth-section {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin: 20px auto;
  }

  .detail,
  .auth-contant {
    width: 93%;
    margin: 20px auto;
  }

  .app-title {
    font-size: 2.2rem;
  }

  .help-back {
    margin: 0 !important;
    padding: 5px;
  }

  .appname .icon svg {
    width: 60px;
    height: 60px;
    display: block;
    margin-top: auto;
  }

  .article-point {
    min-width: 2em;
    max-width: 5em;
  }


  .auth-nav .icon {
    padding: 15px;
  }

  .auth-nav .icon svg {
    width: 30px;
    height: 30px;
  }

  .auth-nav li a .title {
    margin-left: 20px;
  }


  .auth-header {
    margin-top: 30px;
  }

  .auth-form {
    margin-top: 0;
  }

  .setup-form {
    width: 95%;
  }

  .resetform-contant input {
    width: 90%;
    padding: 15px 10px;
    font-size: 16px;
  }

  .setup-form .register {
    width: 90%;
    margin: auto;
  }

  .button-form {
    margin-bottom: 30px;
    padding: 0 10px;
  }

  .register button {
    padding: 15px 40px;
  }

  .setup-button {
    padding: 15px 20px;
  }

  .setup {
    background-color: #576bf5;
  }

  .hidden {
    display: none;
  }

  .validate {
    gap: 5px;
  }

  .validate p {
    font-size: 0.7rem;
  }

  /*  ログイン済ページ---------------------------- */
  .section {
    width: 95% !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin: 20px auto;
  }

  .nav {
    width: 98% !important;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3px;
    flex-wrap: wrap;

  }

  .maker-back {
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  .maker-back nav {
    margin: 0;
  }

  .maker-back nav ul li a {
    padding: 0.8rem;
  }

  .maker-back nav ul li a svg {
    width: 30px;
    height: 30px;
  }

  .reset-form button {
    width: 100%;
    margin: 30px auto 50px;
    height: 70px;
  }


  .loginuser-nav {
    order: 1;
  }

  .navigate {
    order: 2;
  }

  .main-nav {
    order: 3;
    width: 30% !important;
    flex-basis: 95%;
    margin: 0 auto !important;
  }

  .loginuser-nav,
  .navigate {
    width: auto !important;
    margin: 0 !important;
  }

  .loginuser-nav ul,
  .navigate nav ul {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 4px;

  }

  .navigate nav ul {
    padding: 0.9rem;

  }

  .navigate li a .title,
  .logout-button .title {
    opacity: 1 !important;
  }

  .main-nav li a .title {
    display: none !important;
  }

  .nav .title {
    display: inline-block !important;
    height: auto;
    line-height: normal;
    margin-left: 6px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
  }

  .navigate,
  .loginuser-nav,
  .loginuser-nav ul {
    background-color: transparent;
    box-shadow: none;
  }

  .navigate li {
    padding: 10px;
    width: auto;
  }

  .icon svg {
    width: 30px;
    height: 30px;
  }

  .list-nav svg,
  .icon2 svg {
    width: 30px;
    height: 30px;
    border-radius: 20%;
  }


  .loginuser-nav ul {
    color: #8C8C8C;
  }

  span .title {
    font-size: 30px;
  }

  .main-nav ul {
    display: flex !important;
    flex-direction: row !important;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }

  .loginuser-nav .icon svg {
    fill: #8C8C8C;
  }

  .main-nav ul.carousel {
    display: flex;
    gap: 0px;
    position: relative;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 30px;
    width: 80%;
  }


  .main-nav li {
    width: auto;
  }

  .main-nav li.phase {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    border-radius: 16px;
    scroll-snap-align: center;
  }

  .main-nav ul.carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 12px;
  }

  .main-nav li.phase::scroll-marker {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .4);
  }

  .main-nav li.phase::scroll-marker:target-current {
    background: #000;
  }

  .list-header {
    margin: 0 auto;
    gap: 0px;
  }

  .nav-item .title,
  .logout-button .title {
    display: none !important;
  }

  .contant {
    margin-top: 40px;
  }

  .list-header {
    display: flex;
    flex-direction: column;
  }

  .list-nav {
    justify-content: center;
  }

  .land2_add {
    width: 80%;
  }

  .add_button button {
    margin: auto;
    width: 100%;
    border-radius: 30px;
  }

  .visible {
    width: 100%;
  }

  .choice {
    padding: 4px 20px;
  }

  .validate-wrapper {
    margin: 20px 0;
  }

  .marker-liststar svg {
    width: 30px;
  }


  /* makerページ------------------------------ */

  .marker-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .cards {
    width: 80%;
  }


  .maker-delete,
  .maker-edit {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    box-shadow: none;
  }


  .maker-delete svg,
  .maker-edit svg {
    padding: 3px;
    fill: #fff;
  }

  .card-right {
    opacity: 1;
  }

  .marker-form {
    display: flex;
    flex-direction: column;
  }

  .maker-left,
  .maker-right {
    width: 90%;
    padding-bottom: 0;
  }

  .makerform-contant textarea {
    width: 70%;
  }

  .updated_at {
    display: flex;
    justify-content: center;
  }

  .maker-input {
    font-size: 16px;
  }

  .end-contant {
    display: flex;
    flex-direction: column;

  }

  .star-rating {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: auto;
  }

  .star-check {
    width: 50px;
  }

  .star-check svg {
    width: 80%;
  }

  .register {
    margin: 20px 0;
    width: 100% !important;
    justify-items: center;

  }

  .register button {
    display: block;
    width: 80%;
  }

  .pagination {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
    margin: 30px auto;
    width: 80%;
  }

  .pagination-gap {
    justify-content: center;
  }

  .star-rating {
    gap: 4px;
  }

  .form-button label {
    font-size: 0.9rem;
    padding: 9px 20px;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .card-right nav ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;

  }

  .card-right {
    width: 100%;
    order: 1;
    border-radius: 15px 15px 0px 0px;
  }

  .card-main {
    order: 2;
  }

  .marker-listnav-contant {
    display: flex;
    flex-direction: column;
  }

  .select-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .select-btn .choice.method {
    flex: 0 1 auto;
    margin: auto;

  }

  /* landページ---------------------- */
  .land-list {
    margin: 30px 0 70px 0;
  }

  .land-form {
    display: flex;
    flex-direction: column;
  }

  .card-inner {
    display: flex;
    flex-direction: column;
  }

  h4,
  .land-right-valiable {
    margin: auto;
  }

  h5 {
    font-size: 1.2rem;
  }

  .form-valiable {
    padding: 12px 50px;
  }


  .land-left-fix {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
  }

  .land-list {
    width: 100%;
  }

  .land-table {
    width: 96% !important;
  }

  thead th,
  td,
  .checklist_input {
    font-size: 16px;
    white-space: normal;
    border: none;
    background-color: transparent;
    font-family: 'Noto Sans JP ';
  }

  .checklist_input::placeholder {
    font-size: 16px;
    font-family: 'Noto Sans JP ';
  }


  #landtable {
    max-height: none;
  }

  .edit-row svg,
  .land-delete-btn svg {
    width: 30px;
    fill: #fff;
  }

  .edit-row,
  .land-delete-btn {
    padding: 5px 15px;
  }

  .land-delete-btn {
    background-color: #8C8C8C;
    opacity: 0.18;
  }

  .land-table,
  .land-table thead,
  .land-table tbody,
  .land-table tr,
  .land-table td,
  .land-table th {
    display: block;
  }

  .land-table thead {
    display: none;
  }

  .land-table tr {
    padding: 12px;
    margin: 12px 0;
    background: #fff;
  }

  .land-table td {
    display: flex;
    justify-content: center;
    padding: 6px 0;
  }

  .land-table th:nth-child(1),
  .land-table td:nth-child(1),
  .land-table th:nth-child(2),
  .land-table td:nth-child(2),
  .land-table th:nth-child(3),
  .land-table td:nth-child(3),
  .land-table th:nth-child(4),
  .land-table td:nth-child(4),
  .land-table th:nth-child(5),
  .land-table td:nth-child(5),
  .land-table th:nth-child(6),
  .land-table td:nth-child(6),
  .land-table th:nth-child(7),
  .land-table td:nth-child(7) {
    width: 100%;
    min-width: 0;
  }

  .land-table th:nth-child(6),
  .land-table td:nth-child(6),
  .land-table th:nth-child(7),
  .land-table td:nth-child(7) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .land-table tr.select-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .land-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #555;
  }



  .land-card,
  .land-card-success {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
  }

  .backEdit {
    padding: 5px 10px;
  }

  /* phase3--------------------------- */
  .loanform-contant label {
    font-size: 1.0rem;
    white-space: nowrap;
  }

  .play {
    width: 70%;
    margin: 10px auto 0;
    display: flex;
    gap: 3px;
    border-radius: 10px;
    padding: 0 5px;
  }

  .play svg {
    width: 25px;
    height: 25px;
  }

  .play p {
    font-size: 0.7rem;
  }


  .valiableform-row span {
    font-size: 0.9rem;
  }

  .calculate {
    margin: 30px 0;
  }

  .calculate button {
    padding: 15px 75px;
  }

  .left-fix {
    width: 100%;
  }

  .form-row input {
    font-size: 16px;
    border-radius: 50px;
    width: 60%;
    margin: 0;
  }

  .loanform-contant input {
    padding: 13px;
  }

  .loanform-contant label {
    font-size: 0.8rem;
  }

  .loan-card,
  .loan-card-success {
    padding: 10px 30px;
    margin-top: 0;
  }

  .form-valiable {
    padding: 12px 30px;
  }


  /* ckecklistページ--------------- */

  .list-nav .icon {
    padding: 8px 10px;
  }

  .checklist,
  .checklist thead,
  .checklist tbody,
  .checklist tr,
  .checklist td,
  .checklist th {
    display: block;
  }

  .checklist thead {
    display: none;
  }

  .checklist tr {
    padding: 12px;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .checklist td {
    display: flex;
    justify-content: flex-start;
    padding: 6px 0;
    align-items: center;
  }


  .checklist th:nth-child(1),
  .checklist td:nth-child(1),
  .checklist th:nth-child(2),
  .checklist td:nth-child(2),
  .checklist th:nth-child(3),
  .checklist td:nth-child(3),
  .checklist th:nth-child(4),
  .checklist td:nth-child(4),
  .checklist th:nth-child(5),
  .checklist td:nth-child(5) {
    width: 100%;
    min-width: 0;
  }

  .checklist td:nth-child(1),
  .checklist td:nth-child(2) {
    display: inline-flex;
    width: 25%;
    justify-content: flex-start;
  }

  .phase2-row svg {
    width: 30px;
    height: 30px;

  }

  .checklist td:nth-child(4),
  .checklist td:nth-child(5) {
    display: inline-flex;
    width: 48%;
    justify-content: space-between;
  }

  .checklist_input {
    width: 100%;
  }

  textarea.checklist_input {
    min-height: 100px;
    font-size: 16px;
    font-family: 'Noto Sans JP ';
  }

  .toggle:hover,
  .toggle button svg:hover {
    padding: 0;
    box-shadow: none;
  }

  .mobile-only-row {
    display: flex;
    align-items: center;
  }

  .mobile-only-row td {
    display: flex;
    align-items: center;
    white-space: normal;
  }

  .mobile-only-row td:first-child {
    flex: 0 0 auto;
  }

  .mobile-only-row td:nth-child(2) {
    display: none;
  }

  .mobile-only-row td[colspan] {
    flex: 1;
    margin-left: 8px;
  }

  .toggleTr1,
  .toggleTr2,
  .toggleTr3,
  .toggleTr4,
  .toggleTr5 {
    display: flex;
  }

  .toggleTr1 td,
  .toggleTr2 td,
  .toggleTr3 td,
  .toggleTr4 td,
  .toggleTr5 td {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .edit-list svg,
  .delete-list svg,
  .update-list svg {
    height: 30px;
    width: 30px;
    fill: #fff;
  }

  .edit-list,
  .delete-list,
  .update-list,
  .register-list {
    padding: 8px 15px;
    margin: auto;
  }



  .switch {
    height: 20px;
  }

  .slider:before {
    height: 17px;
  }

  .register-list svg {
    width: 30px;
    height: 30px;

  }

  .add_button button {
    padding: 2px;
  }
}